.quiz-module {
	justify-content: center;
	flex-direction: column;
	gap: 20px;
}

.quiz-module-title {
	background-color: aliceblue;
}

h1 {
	text-align: center;
	margin-bottom: 1rem;
}

h2 {
	text-align: center;
	margin: 0px;
}

.quiz-module-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.start-quiz-section {
	display: flex;
	justify-content: center;
}

.quiz-section {
	max-width: 600px;
	width: 100%;
	padding: 1rem;
	background: #fff;
	border-radius: 12px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	flex-direction: column;
}

.option-btn {
	display: block;
	width: 100%;
	margin: 0.5rem 0;
	padding: 0.75rem;
	background: #f0f0f0;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	text-align: left;
}

.option-btn:hover {
	background-color: #e7e7e7;
}

.option-btn-selected {
	background: #4caf50;
}

.option-btn-selected:hover {
	background-color: #45a049;
}

.next-btn {
	padding: 0.5rem 1rem;
	border: none;
	background: #0077ff;
	color: white;
	border-radius: 6px;
	cursor: pointer;
}

.result-section {
	flex-direction: column;
	gap: 10px;
}

.result-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
}

.result-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
}

.retake-btn {
	width: fit-content;
}

.home-btn {
	width: fit-content;
}

.anime-recc-img {
	background-image: url('assets/dance.gif');
	height: 480px;
}
